<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width,initial-scale=1.0">
		{# <link rel="icon" href="<%= BASE_URL %>favicon.ico"> #}
		<meta name="keywords" content="E-Tawjihi, Maroc, Baccalauréat, Études, Filières, Orientation, Conseils, Test, Personnalité, Étudiants, Ingénierie, Scolaire, Carrière, Professionnelle, Parcours, bac2023, biof, physique, chimie, sm, science physique, svt, math, science math, pc, tawjihi, tawjihnet, massar, notes, ecoles, privé, public, bourses, concours">
		<meta
		name="description" content="E-Tawjihi est une plateforme d'orientation 100% gratuite développer par des étudiants en ingénierie informatique qui aide les élèves du baccalauréat à tester leurs personnalités pour trouver la filière d'études après le bac qui les corresponds au mieux.">
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-WF996213Y5"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-WF996213Y5');
		</script>
		<title>E-TAWJIHI | Plateforme d'orientation gratuite | BAC2023
		</title>

		<link
		rel="icon" type="image/png" href="{{asset('images/logo.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="app"></div>
		{% endblock %}
	</body>
</html>
