<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">{# <link rel="icon" href="<%= BASE_URL %>favicon.ico"> #}
		<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-5Z30RXKW7J"> </script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-5Z30RXKW7J');
		</script>
		<title>
			{% block title %}E-TAWJIHI
			{% endblock %}
		</title>

		<link
		rel="icon" type="image/png" href="../assets/styles/images/logo-sm.png">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="app"></div>
		{% endblock %}
	</body>
</html>
